/*PAGE CONTACTO*/

  body {
    background-color: rgb(153, 255, 205);
  }
  
  /*map*/
  header {
    background-color: rgb(153, 255, 205);
  }
  header img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
  }
  header h1 {
    font-size: 45px;
    color: black;
    font-family: "lato", sans-serif;
    font-weight: bold;
    margin-left: 30px;
  }
  
  div p {
    text-decoration: underline;
    font-weight: bold;
  }

  .recuadro {
    padding: 25px;
  }
  .recuadro p {
    font-family: "lato", sans-serif;
    font-size: 30px;
  }
  .recuadro fieldset {
    font-family: "lato", sans-serif;
    border-radius: 15px;
    color: black;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
    line-height: 1.4;
    text-align: justify;
    padding: 30px;
    font-size: 20px;
    margin-top: 80px;
  }
  .recuadro fieldset p {
    text-decoration: none;
  }
  .recuadro ul li {
    font-family: "lato", sans-serif;
    font-size: 20px;
    list-style-type: square;
    line-height: 1.7;
    margin-left: 30px;
  }
  








.fieldsetContacto {
    background-image: radial-gradient(circle at 50% -20.71%, #ffffdb 0, #ffffd4 8.33%, #ffffce 16.67%, #f7fec7 25%, #e9fbc1 33.33%, #daf7bb 41.67%, #c9f2b5 50%, #b7edb1 58.33%, #a4e9af 66.67%, #91e5af 75%, #7ce2b1 83.33%, #66dfb4 91.67%, #4cdcb9 100%);
    margin: 5px;
    padding: 5px;
  }
  .fieldsetContacto legend {
    font-family: "lato", sans-serif;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
  }
  
  .botonForm {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  .botonForm:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

 /*PAGE TIENDA*/
  .imagen-producto{
    width: 400px;
    height: 200px;
    border-radius: 25px;
    margin-left: 30px;
  }
 

  .padre{
    display: flex;
    flex-direction: column;
  }

  .cart{
    border: solid 4px;
    background-color: #9733EE;
    display: flex;
    position: relative;
    justify-self: right;
    margin-top: 100px;
    visibility: hidden;

  }
  .simulador{
    font-size: 25px;
    background-color: rgb(143, 41, 245);

  }
  .formularios{
    padding: 45px;
    border: solid 2px; 
    margin-bottom: 30px;
  }