/*PAGE CONTACTO*/
body {
    background-color: rgb(153, 255, 205);
  }
.fieldsetContacto {
    background-image: radial-gradient(circle at 50% -20.71%, #ffffdb 0, #ffffd4 8.33%, #ffffce 16.67%, #f7fec7 25%, #e9fbc1 33.33%, #daf7bb 41.67%, #c9f2b5 50%, #b7edb1 58.33%, #a4e9af 66.67%, #91e5af 75%, #7ce2b1 83.33%, #66dfb4 91.67%, #4cdcb9 100%);
    margin: 5px;
    padding: 5px;
  }
  .fieldsetContacto legend {
    font-family: "lato", sans-serif;
    font-size: 15px;
    padding: 15px;
    font-weight: bold;
  }
  
  .botonForm {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  .botonForm:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }